<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
    <session-factory name="session">
        <!-- Configurações de conexão com o BD-->
        <!--Defino o driver de conexao com o banco de dados -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/semeru_jsf_maven_db?createDatabaseIfNotExist=true </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.passwaord">henrique2418</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- HABILITA A EXIBIÇÃO DO SQL GERADO PELO HIBERNATE E FORMATA-O -->
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- HABILITA A ATUALIZAÇÃO AUTOMÁTICA DA ESTRUTURA DE TABELAS PELO HIBERNATE -->
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- CONFIGURAÇÕES DO POOL DE CONEXÕES-->
        
        <property name="c3p0.min_size">1</property> <!-- NUMERO MINIMO DE CONEXOES-->
        <property name="c3p0.max_size">20</property> <!-- NUMERO MAXIMO DE CONEXOES-->
        <property name="c3p0.timeout">300</property> <!-- DE 5 EM 5 MINUTOS ELE FECHA A SESSAO-->
        <property name="c3p0.max_statements">80</property> <!-- NO MAXIMO 80 STATEMENTS POR CONEXAO-->
        <property name="c3p0.idle_test_period">300</property> <!-- CONFIGURAÇÕES DO POOL DE CONEXÕES-->
        
        <!-- LISTA DE ENTIDADES -->
        <mapping class="br.com.semeru.model.entities.Cidade"/>        
        <mapping class="br.com.semeru.model.entities.Endereco"/>      
        <mapping class="br.com.semeru.model.entities.Estado"/>      
        <mapping class="br.com.semeru.model.entities.Pessoa"/>               
        <mapping class="br.com.semeru.model.entities.Sexo"/>
        <mapping class="br.com.semeru.model.entities.TipoEndereco"/>
        <mapping class="br.com.semeru.model.entities.TipoLogradouro"/>
        
    </session-factory>
</hibernate-configuration>


